<div>
  <p>user_info</p>
  <p>introduction</p>
  <p>image</p>
  <p>link_to:edit_user_path(user_id)</p>
</div>

<div>
  <p>NewBook</p>
  <p>form_with @book (create)</p>
  <p>title</p>
  <p>opinion</p>
  <p>submit</p>
  <p>submit= books#create=</p>
</div>