<div>
  <p>user_info</p>
  <p>introduction</p>
  <p>image</p>
  <%= link_to '歯車アイコン',edit_user_path(current_user) %>
</div>

<div>
  <p>NewBook</p>
  <p>form_with @book (create)</p>
  <p>title</p>
  <p>opinion</p>
  <p>submit</p>
  <p>submit= books#create=</p>
</div>