<div class="col-md-3">

  <h2>User info</h2>
    <%= image_tag 'no_image.jpg'%>

  <table class="table">
    <tbody>
      <tr></tr>
      <tr>
    	  <th>name</th>
    	  <th><%= user.name %></th>
      </tr>
      <tr>
    	  <th>introduction</th>
    	  <th><%= user.introduction %></th>
      </tr>
    </tbody>
  </table>

  <h2>New Book</h2>


</div>


<div>
  <p>NewBook</p>
  <p>form_with @book (create)</p>
  <p>title</p>
  <p>opinion</p>
  <p>submit</p>
  <p>submit= books#create=</p>
</div>